h3 
{
    font-size: 25px;
}

.btn-success:hover
{
background-color: rgb(164, 122, 243);
}

canvas {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

